* {
  margin: 0;
}

.icon {
  width: 18%;
  height: 18%;
  float: left;
}
.img-left img { 
  height: 1700px;
}
#welcome-img {
  height: 100vh;
  width: 100%;
}
.right {
  background-color: black;
}
h1 {
  color: rgb(236, 233, 233);
  text-align: left;
  font-size: 165px;
}
h2 {
  color: rgb(240, 232, 232);
  text-align: left;
  font-size: 80px;
}
.second-title {
  margin: 5% 0 5% 0;
}
.input-log {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(240, 232, 232);
  background-color: rgb(240, 232, 232);
}
.input-log-email {
  border-radius: 45%;
  height: 70px;
  
}
#input_google{
  font-size: 35px;
}
.input-log-email span:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.input-log-email span:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
input::placeholder {
  font-size: 30px;
  text-align: center;
}
#apple-input  {
  border-radius: 45%;
  height: 60px;
  font-size: 35px;
}
.input-number::placeholder{
  font-size: 30px;
  text-align: center;
  color: #fff
}

.line, .line1 {
  color:white;
  text-align: center;
  font-size: 30px;
}
.line1{
  margin:3px
}
.text-register { 
  margin-top:12px;
}

h3 {
  color:white;
  font-size:35px;
  margin:5px 0 15px 0;

}
.btn-signin button { 
  width:100%;
  color:rgb(68, 12, 250);
  font-size:35px;
}